/* Base styles */
body {
  background-color: #fff;
  font-family: 'Raleway', 'Roboto', sans-serif;
  width: 1440px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
